* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";

}
.card-body {
  background-color: whitesmoke;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;

  background-color: orange;
}
.container {
  max-width: 800px;
  width: 90%;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000020;
  border-radius: 8px;
  background-color: lightpink;
}
h1 {
  font-family: 'Roboto', sans-serif;
  color: #f4c34d;
}

label {
  /* display: inline-block; */
  justify-content: right;
  color:rgb(46, 46, 46);
}
.question {
  background-color: red;
  margin: 20px;
}




.step {
  display: none;
}
.step.active {
  display: block;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  justify-content: left;
}



button.next-btn,
button.previous-btn,
button.submit-btn,
button.btn-primary,
.start {
  float: right;
  margin-top: 20px;
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: rgb(180, 220, 255);
  font-family: "Montserrat";
  font-size: 18px;
  cursor: pointer;
  /* text-align: right; */
}
button.previous-btn {
  float: left;
}
button.submit-btn {
  background-color: aquamarine;
}
